html, body {
    margin: 0;
    overflow: hidden;
}

.border {
    border-left: 300px solid black;
    border-right: 300px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playArea {
    display: flex;
    padding: 50px 0px;
    width: 100%;
    flex-direction: column;
    align-items: center;

}



.title {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    margin-top: -20px;
    font-size: 25px;
    font-family: Impact sans-serif;
}

#titleText {
    display: flex;
    text-shadow: 1px 1px 10px #446ad1;
    color: rgb(112, 112, 112);
}

.rock {
    opacity: 0;
    animation: ease-opacity-pop .3s cubic-bezier(0.25, 0.1, 0.71, 1.12) .5s forwards;
}
.paper {
    opacity: 0;
    animation: ease-opacity-pop .3s cubic-bezier(0.25, 0.1, 0.71, 1.12) 1s forwards;
}
.scissors {
    opacity: 0;
    animation: ease-opacity-pop .3s cubic-bezier(0.25, 0.1, 0.71, 1.12) 1.5s forwards;
}
.shoot {
    opacity: 0;
    animation: ease-opacity-pop .3s cubic-bezier(0.25, 0.1, 0.71, 1.12) 2s forwards;
}

.score {
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-family:Arial sans-serif;
    border: double black;
    background-color: rgba(112, 112, 112, 0.1)
    border-radius: 5px;
    align-self: center;
    opacity: 0;
    animation: ease-up 1s linear 2.5s forwards;

}

.scoresOne {
    padding-left: 5rem;
    padding-right: 5rem;
}
.scoresTwo {
    padding-left: 5rem;
    padding-right: 5rem;
}


/*PLAYERS*/


.sprites {
    display: flex;
    flex-direction: column;
}

.opponent {
    right: 0px;
    width: 25rem;
    margin-bottom: -50px;
    margin-left: -200px;
    animation: ease-right 1s ease-in-out 3s forwards;
    opacity: 0;
}

.wrapperOne {
    z-index: 2;
    display: table;
    margin: 0px 350px;
}

.arena {
    margin-top: -200px;
    width: 50rem;
    animation: ease-opacity 1.5s ease-in-out 3s forwards;
    opacity: 0;
}
.wrapperTwo {
    z-index: 1;
    display: table;
    margin: 0 auto;

}

.player {

    width: 50rem;
    margin-top: -800px;
    margin-bottom: -30px;
    margin-left: 200px;
    /*border: 5px solid magenta;*/
    opacity: 0;
    animation: ease-left 1s ease-in-out 3s forwards;
}
.wrapperThree {
    z-index: 3;
}

/*BUTTONS*/

.buttons {
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    margin-left: 400px;
    margin-top: -225px;
    opacity: 0;
    animation: ease-up .5s linear 4s forwards;
    border: double black;
    border-radius: 5px;
    background-color: rgba(112, 112, 112, 0.1)

}

.choice {
    z-index: 5;
    width: 20rem;
    margin: 10px;
    background-color: #446ad1;
    font-size: 20px;
    font-family: Impact sans-serif;
    opacity: 0;
    border-radius: 5px;
    animation: ease-up .5s linear 4s forwards;
}
#rock:hover {
    border: 5px solid gold;
    border-radius: 5px;
    box-shadow: 0 0 20px gold inset;
}
#paper:hover {
    border: 5px solid gold;
    border-radius: 5px;
    box-shadow: 0 0 20px gold inset;
}
#scissors:hover {
    border: 5px solid gold;
    border-radius: 5px;
    box-shadow: 0 0 20px gold inset;
}

/*gif*/
#pokeContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: -50px;
    z-index: 100;
}

#pokeball {
    width: 50px;

}


/*KEYFRAMES*/

@keyframes ease-left {
    100% {
        opacity: 100%;
        transform: translateX(-45%);
    }
}

@keyframes ease-right {
    100% {
        opacity: 100%;
        transform: translateX(65%);
    }
}

@keyframes ease-opacity {
    100% {
        opacity: 100%;
    }
}

@keyframes ease-opacity-pop {
    100% {
        font-size: 25px;
        opacity: 100%;
    }
    90% {
        opacity: 100%;
        font-size: 28px;
    }
}

@keyframes ease-up {
    100% {
        opacity: 100%;
        transform: translateY(-10%)
    }
}