html, body {
    margin: 0;
    overflow: hidden;
}

.border {
    border-left: 300px solid black;
    border-right: 300px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playArea {
    display: flex;
    padding: 30px 0px;
    width: 100%;
    flex-direction: column;
    border: 5px solid magenta;

}



.title {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    /*border: 5px solid magenta;*/
}

#titleText {
    text-shadow: 1px 1px 10px #446ad1;
    color: rgb(112, 112, 112);
    box-shadow: 2px 2px grey;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    /*border: 5px solid magenta;*/
}

#scores {
    padding-left: 5rem;
    padding-right: 5rem;
}

.sprites {
    display: flex;
    flex-direction: column;
}

.opponent {
    right: 0px;
    width: 25rem;
    margin-bottom: -50px;
    margin-left: -200px;
    border: 5px solid magenta;
    animation: ease-right 1s ease-in forwards;
    opacity: 0;
}

.wrapperOne {
    z-index: 2;
    display: table;
    margin: 0px 350px;
}

.arena {
    margin-top: -200px;
    width: 50rem;
    border: 5px solid magenta;
    animation: ease-opacity 1.5s cubic-bezier(0.25, 0.1, 0.71, 1.12) forwards;
    opacity: 0;
}
.wrapperTwo {
    z-index: 1;
    display: table;
    margin: 0 auto;

}

.player {

    width: 50rem;
    margin-top: -800px;
    margin-bottom: -30px;
    margin-left: 100px;
    border: 5px solid magenta;
    opacity: 0;
    animation: ease-left 1s cubic-bezier(0.25, 0.1, 0.71, 1.12) forwards;
}
.wrapperThree {
    z-index: 3;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 5px solid magenta;
    align-items: center;
    margin-left: 500px;
    margin-top: -250px;
}
#choice {
    width: 20rem;
    margin-bottom: 20px;
    background-color: #446ad1;
    font-size: 20px;

}

/*Keyframes*/

@keyframes ease-left {
    100% {
        opacity: 100%;
        transform: translateX(-35%);
    }
}

@keyframes ease-right {
    100% {
        opacity: 100%;
        transform: translateX(55%);
    }
}

@keyframes ease-opacity {
    100% {
        opacity: 100%;
    }
}